<h1>indexpage!</h1>

<% blogs.forEach((blog) => { %>
  <div>
    <h2><%= blog.title %></h2>
    <p><%= blog.body %></p>
    <img src="<%= blog.image %>" alt=""></img>
    <span><%= blog.created %></span>
    <p><%= blog.body %></p>
  </div>
<% }) %>